apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
spec:
  selector:
    app: {{ .Chart.Name }}
  ports:
    - port: {{ .Values.shippingservice.service.port }}
      targetPort: {{ .Values.shippingservice.service.port }}
