name: Deploy App with Helm

on:
  push:
    branches:
      - main
      - feature/test-1

jobs:
  deploy:
    name: Helm deploy to KIND
    runs-on: ubuntu-latest

    steps:
    #Забираем код
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Create KIND cluster
      uses: helm/kind-action@v1.8.0
      with:
        cluster_name: boutique

    - name: Setup kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: v1.28.0

    - name: Setup Helm
      uses: azure/setup-helm@v3
      with:
        version: v3.13.0

    #Проверяем доступность кластера
    - name: Kubernetes cluster info
      run: |
        kubectl cluster-info
        kubectl get nodes

    #Обновляем зависимости Helm
    - name: Helm dependency update
      run: helm dependency update .

    #Проверка шаблонов Helm (render + lint)
    - name: Validate Helm templates
      run: |
        helm lint .
        helm template boutique . > rendered.yaml

    #Развёртывание приложения
    - name: Deploy App
      id: deploy
      run: |
        helm upgrade --install boutique . \
          --namespace boutique \
          --create-namespace \
          --wait \
          --timeout 5m

    #Проверка pod’ов
    - name: Check pods readiness
      id: pods
      run: |
        kubectl wait \
          --for=condition=Ready pod \
          --all \
          -n boutique \
          --timeout=300s

    #Rollback при ошибке
    - name: Helm rollback on failure
      if: failure()
      run: |
        echo "Deploy failed, performing rollback..."
        helm rollback boutique

    #Smoke test
    - name: Smoke test frontend
      if: success()
      run: |
        kubectl run curl \
          -n boutique \
          --image=curlimages/curl \
          --restart=Never \
          --rm -i \
          --command -- \
          curl -sSf http://frontend